<h1>Show Status</h1>

<ul>

  <li>
    <strong>Date:</strong>
    <%= @status.date %>
  </li>

  <li>
    <strong>Is complete:</strong>
    <%= @status.is_complete %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.status_path(@conn, :edit, @status) %></span>
<span><%= link "Back", to: Routes.status_path(@conn, :index) %></span>
